body {
  margin: 0;
  background: #2E2E2C;
  color: #f7f7f7;
}
h1 {
  font-weight: 200;
}
h2 {
  font-weight: 200;
}
a, a:visited {
  color: #999;
}
a:hover {
  color: #fff;
}
#hero {
  background: transparent url(hero.jpg) no-repeat scroll top center;
  background-size: auto 150%;
  height: 300px;
  
}
@media (min-width: 768px) {
  #hero {
    height: 600px;
  }
}
#logo {
  background: transparent url(logo.png) no-repeat scroll center center;
  background-size: 221px auto;
  height: 100%;
}
@media (min-width: 768px) {
  #logo {
    
    background-size: 443px auto;
  }
}
main {
  padding: 60px 0;
}
iframe {
  margin: 15px 0;
  pointer-events: none;
}
.text-yellow {
  color: #F3DF49;
}
.hr {
  text-align: center;
  margin: 30px 0;
}
a.btn {
  color: #fff;
}
footer {
  background: #333;
  padding: 60px 0;
  font-size: 16px;
  color: #ccc;
  text-align: center;
}